<div class="h-screen flex flex-col" data-controller="resizable">
  <div class="flex-1 min-h-0" data-resizable-target="top">
    <%= render "components/demo_section" %>
  </div>
  <%= render "components/resizable_handle" %>
  <div class="flex-1 min-h-0" data-resizable-target="bottom">
    <%= render "components/chat_section" %>
  </div>
</div>
